<section>
    <div class="container">

        <div class="row nomargin">
            
            <div class="col-md-8 col-sm-8">

                <!-- Subtitle -->
                <div class="heading-title heading-border">
                    <h2>Profil <span> <%= @user.username %></span></h2>

                </div>
                
                    <p class="font-lato size-18">Detail Profilu</p>

                    <ul class="portfolio-detail-list list-unstyled nomargin">
                        <li><span><i class="fa fa-user"></i>meno:</span> <%= @user.username %></li>
                        <li><span><i class="fa fa-pencil-square-o"></i>email</span> <%= @user.email%></li>
                        <li><span><i class="fa fa-lightbulb-o"></i>dôveryhodnosť:</span> <%= @user.reliability %></li>
                    </ul>
            
            </div>
        </div>
    </div>
</section>
