<!-- FOOTER -->
<footer id="footer">

  <div class="copyright">
    <div class="container text-center">
      &copy; <%= Time.new.year %> Lupus - Verejné data na jednom mieste
    </div>
  </div>
</footer>

