<div id="header" class="sticky clearfix">

  <!-- TOP NAV -->
  <header id="topNav">
    <div class="container">

      <!-- Mobile Menu Button -->
      <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
      </button>

      <!-- Logo -->
      <a class="logo pull-left" href="/">
        <%= image_tag('logo-1.png') %> 
        <span style="margin-left: 20px; font-weight: bold;font-size: 15px; color:black;">LUPUS</span>
      </a>

      <!--
        Top Nav

        AVAILABLE CLASSES:
        submenu-dark = dark sub menu
      -->
      <div class="navbar-collapse pull-right nav-main-collapse collapse">
        <nav class="nav-main">
          <!--
            .nav-onepage
            Required for onepage navigation links

            Add .external for an external link!
          -->
          <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
            <li><!-- HOME -->
              <a href="/">
                Domov
              </a>
            </li>
            <li><!-- SEARCH -->
              <a href="/search">
                Vyhľadávanie
              </a>
            </li>
            <li><!-- O NAS -->
              <a href="/about-us">
                  O stránke
              </a>
            </li>
            <% if session[:is_admin] == 'yes' %>
              <li>
                <a href="/alerts/index">
                  Pripomienky
                </a>
              </li>
            <% end %>
            <% if session[:user_id].nil? %>
              <li><!-- LOGIN -->
                <a href="/login">
                    Login
                </a>
              </li>
            <% else %>
              <li><!-- DATASETY -->
                <a href="/mydataset">
                  Datasety
                </a>
              </li>
              <li>
                <%= link_to "Logout", :logout %>
              </li>
              <li>
                <a href="/user" style="font-weight: bold; color: #8ab933;">
                  <%= session[:username] %>
                </a>
              </li>
            <% end %>
          </ul>

        </nav>
      </div>

    </div>
  </header>
  <!-- /Top Nav -->

</div>