


<!-- HOME -->
<div class="container margin-top-60 margin-bottom-60">
	<div class="row">

		<div class="col-lg-3 col-md-3 col-sm-3">
			<!-- CATEGORIES -->
			<div class="side-nav margin-bottom-60 ">

				<div class="side-nav-head">
					<button class="fa fa-bars"></button>
					<h4>Najvyhľadávanejšie tento týždeň</h4>
				</div>

				<ul class="list-group list-group-bordered list-group-noicon">
					<li>
						<a href="mydataset/1/1">Firma a.s.</a>
					</li>
					<li>
						<a href="mydataset/1/1">Podnik s.r.o.</a>
					</li>
					<li>
						<a href="mydataset/1/1">Nemocnica Razsochy</a>
					</li>
					<li class="">
						<a href="mydataset/1/1">STU FIIT</a>
					</li>
					<li class="">
						<a href="mydataset/1/1">Organizácia AB</a>
					</li>

				</ul>

			</div>
			<!-- /CATEGORIES -->
						<!-- CATEGORIES -->
			<div class="side-nav margin-bottom-60 margin-top-30">

				<div class="side-nav-head">
					<button class="fa fa-bars"></button>
					<h4>Zoznam experimentov</h4>
				</div>

				<ul class="list-group list-group-bordered list-group-noicon">
					<li>
						<a href="#">Najklikanejšie firmy</a>
					</li>
					<li>
						<a href="#">Najčastejšie zadané kľúčové slovo</a>
					</li>
					<li>
						<a href="#">Najnovšie pridané datasety</a>
					</li>
					<li class="">
						<a href="#">Najkomentovanejšie záznamy</a>
					</li>
					<li class="">
						<a href="#">Najobľúbenejšie záznamy</a>
					</li>

				</ul>

			</div>
			<!-- /CATEGORIES -->

		</div>

		<div class="col-lg-6 col-md-6 col-sm-6">
			<div id="home" class="height-450" style="background:url('assets/images/demo/wall2.jpg')">
				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						
						<div class="text-center">
							
							<h1 class="nomargin size-50 weight-300 wow fadeInUp" data-wow-delay="0.4s">Všetky potrebné informácie na jednom mieste</h1>
							<br><br>
							<p class="lead font-lato size-30 wow fadeInUp" data-wow-delay="0.7s">Získajte verejné informácie o konkretných firmách</p>
							
							<div class="margin-top-60 margin-bottom-60">
								<%= form_for :term, :url => {:action => "index", :controller => "search"},  method: :get do |form| %>
								  <div class="input-group">
									<span class="input-group-addon"><i class="fa fa-circle-o"></i></span>
								    <%= text_field_tag :term, params[:term], class: "form-control required", placeholder:"Názov firmy" %>
								  </div>
								    <%= submit_tag "Vyhľadať", class: "btn btn-3d btn-lg btn-red", name: nil %>
								<% end %>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /HOME -->
