<section class="page-header page-header-xlg parallax parallax-3" style="background-image:url('../images/demo/1200x800/17-min.jpg')">
	<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

	<div class="container">

		<h1>O stránke</h1>


	</div>
</section>
<!-- /PAGE HEADER -->

<div class="container">
	<div class="row">
		<!-- 3 Cols -->
		<section>
			<div class="container">
				<div class="row">
				
					<div class="col-md-6">
						
						<div class="heading-title heading-border-bottom heading-color">
							<h3>O Lupuse</h3>
						</div>
						
						<p>Zmyslom založenia tohto webu bolo zbieranie čo najväčšieho množstva verejných dát o firmách, verejných inštitúciach, verejných zákazkách a iných dát s úmyslom väčšej transparentnosti. Canis Lupus je latinský preklad Vlka dravého ako symbolu zvieraťa, ktoré hľadá a nachádza čo potrebuje. <br> Vďaka možnosti pridávať vlastné datasety má tento web potenciál stať sa najväčším hniezdom verejných informácií na Slovensku avšak je závislý na podpore komunity a preto je každá iniciatíva vítaná</p>

						<div class="heading-title heading-border-bottom heading-color">
							<h3>Kontakt</h3>
						</div>
						<ul class="list-unstyled">
							<li><b>Email:</b> <a href="mailto:mailexample@example.com">samwendl1@gmail.com</a></li>
						</ul>
				

					</div>

					<div class="col-md-6 col-sm-6 nopadding nomargin">
						<%= image_tag('logo-1.png', class: "img-responsive") %> 
					</div>
				</div>


			</div>
		</section>

	</div>
</div>