<section class="page-header page-header-xs">
	<div class="container">

		<h1>Vyhľadávanie</h1>

	</div>
</section>
<!-- /PAGE HEADER -->



<!-- -->
<section>
	<div class="container">

		<h4> Všetky datasety</h4>

		<div class="margin-top-60 margin-bottom-100">
			<form action="#" role="form" method="post">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-circle-o"></i></span>
					<input type="email" id="email" name="email" class="form-control required" placeholder="Názov firmy">
				</div>
			</form>
			<a type="button" href="#" class="btn btn-primary btn-lg btn-block">Vyhľadať</a>
		</div>

		<div class="table-responsive">
			<table class="table table-bordered text-center table-vertical-middle">
				<thead>
					<tr>
						<th style="text-align: center !important" class="width-30">ID</th>
						<th style="text-align: center !important">Nazov</th>
						<th style="text-align: center !important">Hodnotenia</th>
						<th style="text-align: center !important">Dátum pridania</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">1.</td>
						<td><a href="mydataset/1">Register adries</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								12.4.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">2.</td>
						<td><a href="mydataset/1">Register štátnych hospodárskych zariadení</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								22.4.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">3.</td>
						<td><a href="mydataset/1">Register motorových vozidiel</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								13.6.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">4.</td>
						<td><a href="mydataset/1">Register verejných obstarávaní</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								31.12.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">5.</td>
						<td><a href="mydataset/1">Register osôb</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								8.9.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">6.</td>
						<td><a href="mydataset/1">Nemocnice v Bratislavskom kraji</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								23.12.2016
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>