<section class="page-header page-header-xs">
	<div class="container">

		<h1>Register adries verejných inštitúcií</h1>

	</div>
</section>
<!-- /PAGE HEADER -->



<!-- -->
<section>
	<div class="container">

		<h3> Register adries</h3>

		<div>							
			<div class="heading-title heading-border-bottom heading-color">
				<h4>Popis</h4>
			</div>			
			<p>Je dávno známe, že ak je zrozumiteľný obsah stránky, na ktorej rozloženie sa čitateľ díva, jeho pozornosť je rozptýlená. Dôvodom použitia Lorem Ipsum je fakt, že má viacmenej normálne rozloženie písmen, takže oproti použitiu 'Sem príde text, sem príde text' sa obsah vypĺňanej oblasti na stránke viac podobá na skutočný text. Mnohé balíky publikačného softvéru a editorov webových stránok už používajú Lorem Ipsum ako predvolený výplňový text a keď dáte na internete vyhľadávať 'lorem ipsum', objavíte mnoho webových stránok v rannom štádiu ich vzniku. V minulých rokoch sa objavilo mnoho verzií tohto textu, niekedy náhodou, niekedy úmyselne (pridaný humor a podobne).</p>
		</div>

		<div class="table-responsive">
			<table class="table table-bordered text-center table-vertical-middle">
				<thead>
					<tr>
						<th style="text-align: center !important" class="width-30">ID</th>
						<th style="text-align: center !important">Nazov</th>
						<th style="text-align: center !important">Adresa</th>
						<th style="text-align: center !important">Dátum pridania</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">1.</td>
						<td><a href="1/1">Mestský úrad Pezinok</a></td>
						<td> Radničné námestie 10, 902 01 Pezinok</td>
						<td>
							<div class="margin-bottom-0">
								12.4.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">2.</td>
						<td><a href="1/1">Mestský úrad Senec</a></td>
						<td>Štúrová 14</td>
						<td>
							<div class="margin-bottom-0">
								12.4.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">3.</td>
						<td><a href="1/1">Generálna prokuratúra</a></td>
						<td>Kamenné námestie 12, 841 02 Bratislava | Staré Mesto</td>
						<td>
							<div class="margin-bottom-0">
								12.4.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">4.</td>
						<td><a href="1/1">OR PZ Bratislava 3</a></td>
						<td> Dolnozemská 21 843 02 Bratislava | Petržalka</td>
						<td>
							<div class="margin-bottom-0">
								12.4.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">5.</td>
						<td><a href="1/1">Notársky úrad - JUDr Ján Janovský, Modra</a></td>
						<td>Bernoláková 25, 921 92 Modra</td>
						<td>
							<div class="margin-bottom-0">
								12.4.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">6.</td>
						<td><a href="1/1">Základná škola - Kupeckého, Pezinok</a></td>
						<td>Kupeckého 12, 902 01 Pezinok</td>
						<td>
							<div class="margin-bottom-0">
								12.4.2016
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>