<div class ="container">
	<div class = "row">
		<div class="col-md-12 margin-top-60 margin-bottom-100">
			<h3 class="center margin-bottom-80">Počet návštevníkov</h3>
			<div id="flot-stats" class="flot-chart height-300"><!-- FLOT CONTAINER --></div>
		</div>
	</div>
</div>

