<div class ="container">
	<div class ="row">
		<div class="col-md-3 col-sm-6 margin-top-80 margin-bottom-80">
			<div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center" style="min-height: 440px;">
				<div class="front">
					<div class="box1 box-default" style="min-height: 440px;">
						<div class="box-icon-title margin-top-40">
							<img class="img-responsive" src="images/click.png" alt="">
							<h2 class= "margin-top-80">Najklikanejšie firmy</h2>
						</div>
					</div>
				</div>

				<div class="back">
					<div class="box2 box-primary" style="min-height: 440px;">
						<h4 class="nomargin">Najklikanejšie firmy</h4>

						<hr>

						<p>Quisque rhoncus interdum bibendum. Mauris sem massa, fringilla quis maximus et, venenatis at quam. Vivamus venenatis luctus felis at convallis. Ut id nisl a tortor euismod sagittis eu vitae erat. Sed a feugiat nulla, non viverra ex. Phasellus venenatis quis lacus eget tristique. </p>

						<hr>

						<a href="/experiments/1" class="btn btn-translucid btn-lg btn-block">VIAC</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 margin-top-80 margin-bottom-80">
			<div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center" style="min-height: 440px;">
				<div class="front">
					<div class="box1 box-default" style="min-height: 440px;">
						<div class="box-icon-title margin-top-40">
							<img class="img-responsive" style="min-height: 220px;" src="images/keyword.png" alt="">
							<h2 class= "margin-top-80">Najčastejšie hľadané kľúčové slovo</h2>
						</div>
					</div>
				</div>

				<div class="back">
					<div class="box2 box-primary" style="min-height: 440px;">
						<h4 class="nomargin">Najčastejšie hľadané kľúčové slovo</h4>

						<hr>

						<p>Quisque rhoncus interdum bibendum. Mauris sem massa, fringilla quis maximus et, venenatis at quam. Vivamus venenatis luctus felis at convallis. Ut id nisl a tortor euismod sagittis eu vitae erat. Sed a feugiat nulla, non viverra ex. Phasellus venenatis quis lacus eget tristique. </p>

						<hr>

						<a href="/experiments/1" class="btn btn-translucid btn-lg btn-block">VIAC</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 margin-top-80 margin-bottom-80">
			<div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center" style="min-height: 440px;">
				<div class="front">
					<div class="box1 box-default" style="min-height: 440px;">
						<div class="box-icon-title margin-top-40">
							<img class="img-responsive" style="min-height: 220px;" src="images/dataset.png" alt="">
							<h2 class= "margin-top-80">Najnovšie pridané datasety</h2>
						</div>
					</div>
				</div>

				<div class="back">
					<div class="box2 box-primary" style="min-height: 440px;">
						<h4 class="nomargin">Najnovšie pridané datasety</h4>

						<hr>

						<p>Quisque rhoncus interdum bibendum. Mauris sem massa, fringilla quis maximus et, venenatis at quam. Vivamus venenatis luctus felis at convallis. Ut id nisl a tortor euismod sagittis eu vitae erat. Sed a feugiat nulla, non viverra ex. Phasellus venenatis quis lacus eget tristique. </p>

						<hr>

						<a href="/experiments/1" class="btn btn-translucid btn-lg btn-block">VIAC</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 margin-top-80 margin-bottom-80">
			<div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center" style="min-height: 440px;">
				<div class="front">
					<div class="box1 box-default" style="min-height: 440px;">
						<div class="box-icon-title margin-top-40">
							<img class="img-responsive" src="images/comment.png" alt="">
							<h2 class= "margin-top-80">Najkomentovanejšie záznamy</h2>
						</div>
					</div>
				</div>

				<div class="back">
					<div class="box2 box-primary" style="min-height: 440px;">
						<h4 class="nomargin">Najkomentovanejšie záznamy</h4>

						<hr>

						<p>Quisque rhoncus interdum bibendum. Mauris sem massa, fringilla quis maximus et, venenatis at quam. Vivamus venenatis luctus felis at convallis. Ut id nisl a tortor euismod sagittis eu vitae erat. Sed a feugiat nulla, non viverra ex. Phasellus venenatis quis lacus eget tristique. </p>

						<hr>

						<a href="/experiments/1" class="btn btn-translucid btn-lg btn-block">VIAC</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>