<section>
	<div class="container">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<div class="toggle toggle-transparent toggle-accordion toggle-noicon">

					<div class="toggle active">
						<label class="size-20"><i class="fa fa-leaf"></i> &nbsp; Chcem sa prihlásiť</label>
						<div class="toggle-content">


							<form class="sky-form" method="get" action="home/index" autocomplete="off">
								<div class="clearfix">

									<!-- Email -->
									<div class="form-group">
										<label>Email</label>
										<label class="input margin-bottom-10">
											<i class="ico-append fa fa-envelope"></i>
											<input required="" type="email">
											<b class="tooltip tooltip-bottom-right">Zadajte mail použitý pri registrácií</b>
										</label>
									</div>

									<!-- Password -->
									<div class="form-group">
										<label>Heslo</label>
										<label class="input margin-bottom-10">
											<i class="ico-append fa fa-lock"></i>
											<input required="" type="password">
											<b class="tooltip tooltip-bottom-right">Zadajte heslo</b>
										</label>
									</div>

								</div>

								<div class="row">

									<div class="col-md-6 col-sm-6 col-xs-6">
										
										<!-- Inform Tip -->                                        
										<div class="form-tip pt-20">
											<a class="no-text-decoration size-13 margin-top-10 block bold" href="#">Zabudli ste heslo?</a>
										</div>
										
									</div>

									<div class="col-md-6 col-sm-6 col-xs-6 text-right">

										<button class="btn btn-primary"><i class="fa fa-check"></i> Prihlásiť</button>

									</div>

								</div>

							</form>


						</div>
					</div>

					<div class="toggle">
						<label class="size-20"><i class="glyphicon glyphicon-user"></i> &nbsp; Nemáte ešte účet?</label>
						<div class="toggle-content">


							<form class="nomargin sky-form" action="home/index" method="get" enctype="multipart/form-data">
								<fieldset>

									<div class="row">
										<div class="form-group">

											<div class="col-md-6 col-sm-6">
												<label>Meno*</label>
												<label class="input margin-bottom-10">
													<i class="ico-append fa fa-user"></i>
													<input required="" type="text">
													<b class="tooltip tooltip-bottom-right">Vaše meno</b>
												</label>
											</div>

											<div class="col-md-6 col-sm-6">
												<label for="register:last_name">Priezvisko *</label>
												<label class="input margin-bottom-10">
													<i class="ico-append fa fa-user"></i>
													<input required="" type="text">
													<b class="tooltip tooltip-bottom-right">Vaše priezvisko</b>
												</label>
											</div>

										</div>
									</div>

									<div class="row">
										<div class="form-group">

											<div class="col-md-6 col-sm-6">
												<label for="register:email">Email *</label>
												<label class="input margin-bottom-10">
													<i class="ico-append fa fa-envelope"></i>
													<input required="" type="text">
													<b class="tooltip tooltip-bottom-right">Vaša E-mailová adresa </b>
												</label>
											</div>

											<div class="col-md-6 col-sm-6">
												<label for="register:phone">Tel. číslo</label>
												<label class="input margin-bottom-10">
													<i class="ico-append fa fa-phone"></i>
													<input type="text">
													<b class="tooltip tooltip-bottom-right">Vaše telefónne číslo</b>
												</label>
											</div>

										</div>
									</div>

									<div class="row">
										<div class="form-group">

											<div class="col-md-6 col-sm-6">
												<label for="register:pass1">Heslo *</label>
												<label class="input margin-bottom-10">
													<i class="ico-append fa fa-lock"></i>
													<input required="" type="password" class="err">
													<b class="tooltip tooltip-bottom-right">Min. 6 znakov</b>
												</label>
											</div>

											<div class="col-md-6 col-sm-6">
												<label for="register:pass2">Heslo znovu *</label>
												<label class="input margin-bottom-10">
													<i class="ico-append fa fa-lock"></i>
													<input required="" type="password" class="err">
													<b class="tooltip tooltip-bottom-right">Zadajte heslo ešte raz</b>
												</label>
											</div>

										</div>
									</div>

									<hr />

									<label class="checkbox nomargin"><input class="checked-agree" type="checkbox" name="checkbox"><i></i>Súhlasím s <a href="#" data-toggle="modal" data-target="#termsModal">Podmienkami</a></label>

								</fieldset>

								<div class="row">
									<div class="col-md-12">
										<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Registrovať</button>
									</div>
								</div>

							</form>



						</div>
					</div>

				</div>

			</div>
		</div>

	</div>
</section>