<section class="page-header page-header-xs">
	<div class="container">

		<h1>Najvhľadávanejšie záznamy</h1>

	</div>
</section>
<!-- /PAGE HEADER -->



<!-- -->
<section>
	<div class="container">

		<h4> TOP 10 najhľadanejších záznamov</h4>

		<div class="table-responsive">
			<table class="table table-bordered text-center table-vertical-middle">
				<thead>
					<tr>
						<th style="text-align: center !important" class="width-30">ID</th>
						<th style="text-align: center !important">Nazov</th>
						<th style="text-align: center !important">Hodnotenia</th>
						<th style="text-align: center !important">Dátum pridania</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">1.</td>
						<td><a href="mydataset/1">Firma a.s.</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								12.4.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">2.</td>
						<td><a href="mydataset/1">Podnik s.r.o</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								22.4.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">3.</td>
						<td><a href="mydataset/1">Nemocnica Razsochy</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								13.6.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">4.</td>
						<td><a href="mydataset/1">Organizácia AB</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								31.12.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">5.</td>
						<td><a href="mydataset/1">DOMAStav</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								8.9.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">6.</td>
						<td><a href="mydataset/1">Benq Siemens</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								23.12.2016
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">7.</td>
						<td><a href="mydataset/1">Marley Davidson</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								23.12.2016
							</div>
						</td>
					</tr>
										<tr>
						<td class="text-center">8.</td>
						<td><a href="mydataset/1">Boca Juniors</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								23.12.2016
							</div>
						</td>
					</tr>
										<tr>
						<td class="text-center">9.</td>
						<td><a href="mydataset/1">Luppo & Gagana a.s.</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								23.12.2016
							</div>
						</td>
					</tr>
										<tr>
						<td class="text-center">10.</td>
						<td><a href="mydataset/1">Trump org.</a></td>
						<td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
						<td>
							<div class="margin-bottom-0">
								23.12.2016
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>